<html>
    <head>
        <title>Pomodoro Annotation Chart</title>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            // https://developers.google.com/chart/interactive/docs/gallery/annotationchart
            google.load("visualization", "1");
            google.setOnLoadCallback(function() {
                var wrap = new google.visualization.ChartWrapper({
                    'chartType': 'AnnotationChart',
                    'dataSourceUrl': '/api/pomodoro/datatable/?days=30',
                    'containerId': 'chart_div',
                    //'query':'SELECT A,D WHERE D > 100 ORDER BY D',
                    'options': {
                        timeline: {
                            colorByRowLabel: true
                        },
                        legendPosition: 'newRow',
                        displayZoomButtons: false,
                    }
                });
                wrap.draw();
            });
        </script>
    </head>
    <body>
        <div id="chart_div" style="width:800; height:400">Loading...</div>
    </body>
</html>
