{% extends "base.html" %}
{% block javascript %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% endblock %}
{% block content %}
        <div class="container">
            <div id="chart_div" style="width:800px; height:400px">Loading...</div>
        </div>
{% endblock %}

{% block github %}
<a href="https://github.com/kfdm/django-pomodoro/issues">
    <img src="https://img.shields.io/github/issues/kfdm/django-pomodoro.svg" alt='django-pomodoro issues' />
</a>
{% endblock %}
