{% extends "charts/base.html" %}
{% block title %}Yesterday Chart{% endblock %}
{% block javascript %}
        <script type="text/javascript">
            // https://developers.google.com/chart/interactive/docs/gallery/annotationchart
            google.load("visualization", "1");
            google.setOnLoadCallback(function() {
                var wrap = new google.visualization.ChartWrapper({
                    'chartType': 'PieChart',
                    'dataSourceUrl': '/api/pomodoro/pie/?date=yesterday',
                    'containerId': 'chart_div',
                    'options': {
                        pieHole: false,
                    }
                });
                wrap.draw();
            });
        </script>
{% endblock %}
