<div class="card card-{{ hilite }}">
    <h4 class="card-title">{{ pomodoro.title }} {% if pomodoro.category %}- {{ pomodoro.category}}{% endif %}</h4>
    <div class="card-body" id="clockdiv">
        <div>
            <span class="bg-{{ hilite }} days"></span>
            <div class="text-{{ hilite }} smalltext">Days</div>
        </div>
        <div>
            <span class="bg-{{ hilite }} hours"></span>
            <div class="text-{{ hilite }} smalltext">Hours</div>
        </div>
        <div>
            <span class="bg-{{ hilite }} minutes"></span>
            <div class="text-{{ hilite }} smalltext">Minutes</div>
        </div>
        <div>
            <span class="bg-{{ hilite }} seconds"></span>
            <div class="text-{{ hilite }} smalltext">Seconds</div>
        </div>
    </div>
    <form action="" method="post">{% csrf_token %}
    <table class="table">
        <tr><td>Start</td><td>{{ pomodoro.start }}</td></tr>
        <tr><td>End</td><td>{{ pomodoro.end }}</td></tr>
{% if not active %}
        <tr>
            <td>{{form.title.label}}</td>
            <td>{{form.title}}</td>
        </tr>
        <tr>
            <td>{{form.category.label}}</td>
            <td>{{form.category}}</td>
        </td>
    </table>
    <div class="card-body">
        <button name="pomodoro" type="submit" class="btn btn-primary btn-block">25 Minute</button>
        <button name="hour" type="submit" class="btn btn-primary btn-block">1 Hour</button>
    </div>
{% else %}
    </table>
    <div class="card-body">
        <button name="plus-five" type="submit" class="btn btn-primary btn-block">+5</button>
        <button name="stop" type="submit " class="btn btn-danger btn-block">Stop</button>
    </div>
{% endif %}
        </form>
</div>
