{% extends "base.html" %}
{% load static %}
{% block content %}
<ul class="nav nav-pills" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" href="#pomodoro-tab" aria-controls="pomodoro-tab" data-toggle="tab">Pomodoro</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#favorite-tab" aria-controls="favorite-tab" data-toggle="tab">Favorites</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'pomodoro:history' yesterday|date:"Ymd" %}" aria-controls="history-tab">History</a>
    </li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="pomodoro-tab">
        {% include 'pomodoro/block_pomodoro.html' %}
    </div>
    <div role="tabpanel" class="tab-pane" id="favorite-tab">
        {% include 'pomodoro/block_favorite.html' %}
    </div>
    <div role="tabpanel" class="tab-pane" id="history-tab">
        {% include 'pomodoro/block_history.html' %}
    </div>
</div>
{% endblock %}

{% block styles %}
<link rel="apple-touch-icon" href="{% static "images/pomodoro.png" %}">
<meta name="apple-mobile-web-app-title" content="Pomodoro">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<style type="text/css">
#clockdiv{
    font-family: sans-serif;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 1em;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
    background-color:#eee;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    display: inline-block;
}
.smalltext{
    padding-top: 5px;
    font-size: 0.75em;
}

</style>
{% endblock %}

{% block javascript %}
<script>
/*
Based on code from
https://www.sitepoint.com/build-javascript-countdown-timer-no-dependencies/
*/
var deadline = new Date("{{ pomodoro.end.isoformat }}")

function getTimeRemaining(endtime, current){
    t = Math.abs(endtime - current);

    return {
        'total': t,
        'days': Math.floor( t/(1000*60*60*24) ),
        'hours': Math.floor( (t/(1000*60*60)) % 24 ),
        'minutes': Math.floor( (t/1000/60) % 60 ),
        'seconds': Math.floor( (t/1000) % 60 )
    };
}

function initializeClock(id, endtime){
    var clock = document.getElementById(id);
    var daysSpan = clock.querySelector('.days');
    var hoursSpan = clock.querySelector('.hours');
    var minutesSpan = clock.querySelector('.minutes');
    var secondsSpan = clock.querySelector('.seconds');

    function updateClock(){
        var current = Date.now()
        var t = getTimeRemaining(endtime, current);

        daysSpan.innerHTML = t.days
        hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
        minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
        secondsSpan.innerHTML =('0' + t.seconds).slice(-2);
    }

    updateClock(); // run function once at first to avoid delay
    var timeinterval = setInterval(updateClock, 1000);
}

initializeClock('clockdiv', deadline);
</script>
{% endblock %}
