{% extends "pomodoro/base.html" %}
{% load i18n %}
{% load pomodoro %}

{% block content %}
{% breadcrumb 'Favorites' %}

{% latest_pomodoro %}

<h1>Favorites</h1>
<div class="card">
    <table class="table table-sm">
        <tr>
            <th>Quickstart</th>
            <th>Duration</th>
            <th>Project</th>
            <th>Count</th>
            <td>&nbsp;</td>
        </tr>
        {% for f in favorite_list %}
        <tr>
            <td>
                <form action="{{f.get_absolute_url}}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary btn-sm btn-block">
                        {{f.title}}
                    </button>
                </form>
            </td>
            <td>{{f.timedelta}}</td>

            <td style="border-left: 10px solid #{{f.project.color}}">
                <a href="{{f.project.get_absolute_url}}">{{f.project}}</a>
            </td>
            <td>{{f.count}}</td>
            <td><a class="badge badge-warning" href="{% url 'pomodoro:favorite-detail' f.pk %}">{% trans 'Change' %}</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
