{% extends "base.html" %}
{% load static %}
{% block content %}
{% include 'pomodoro/nav.inc.html' %}
{% get_media_prefix as MEDIA_PREFIX %}
<div class="card">
    <h4 class="card-heading">Favorites</h4>
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Duration</th>
            <th>Count</th>
        </tr>
{% for f in favorite_list %}
        <tr>
            <td>
                <form action="{% url 'pomodoro:favorite' f.pk %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary btn-block btn-social">
                        {% if f.icon %}
                        <img src="{{ MEDIA_PREFIX }}{{ f.icon }}" />
                        {% endif %}
                        {{f.title}}
                    </button>
                </form>
            </td>
            <td>{{f.category}}</td>
            <td>{{f.timedelta}}</td>
            <td>{{f.count}}</td>
        </tr>
{% endfor %}
    </table>
</div>
{% endblock %}
