{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="apple-touch-icon" href="{% static "/images/pomodoro.png" %}">
<meta name="apple-mobile-web-app-title" content="Pomodoro">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="{% static "/css/pomodoro.css" %}">
{% endblock %}

{% block javascript %}
<script src="{% static "/js/pomodoro.js" %}"></script>
{% endblock %}

{% block content %}

<div class="card" data-countdown="{{ pomodoro.end.isoformat }}">
    <h4 class="card-title">
        {{ pomodoro.title }}
        (<a href="{{pomodoro.project.get_absolute_url}}">{{pomodoro.project.name}}</a>)
    </h4>
    <div class="card-body countdown-body">
        <div class="days">
            <span></span>
            <div>Days</div>
        </div>
        <div class="hours">
            <span></span>
            <div>Hours</div>
        </div>
        <div class="minutes">
            <span></span>
            <div>Minutes</div>
        </div>
        <div class="seconds">
            <span></span>
            <div>Seconds</div>
        </div>
    </div>
    <form action="" method="post">{% csrf_token %}
        <table class="table">
            <tr>
                <td>Start</td>
                <td>{{ pomodoro.start }}</td>
            </tr>
            <tr>
                <td>End</td>
                <td>{{ pomodoro.end }}</td>
            </tr>
            {% if not active %}
            <tr>
                <td>{{form.title.label}}</td>
                <td>{{form.title}}</td>
                <td>{{form.title.error}}</td>
            </tr>
            <tr>
                <td>{{form.project.label}}</td>
                <td>{{form.project}}</td>
                <td>{{form.project.error}}</td>
        </table>
        <div class="card-body">
            <button name="duration" type="submit" value="25" class="btn btn-primary btn-block">25 Minute</button>
            <button name="duration" type="submit" value="60" class="btn btn-primary btn-block">1 Hour</button>
        </div>
        {% else %}
        </table>
        <div class="card-body">
            <button name="extend" type="submit" value="5" class="btn btn-primary btn-block">+5</button>
            <button name="extend" type="submit" value="10" class="btn btn-primary btn-block">+10</button>
            <button name="extend" type="submit" value="30" class="btn btn-primary btn-block">+30</button>
            <button name="stop" type="submit " class="btn btn-danger btn-block">Stop</button>
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}