<ul class="nav nav-pills">
    <li class="nav-item">
            <a
            class="nav-link{% if request.resolver_match.view_name == 'pomodoro:dashboard' %} active{% endif %}"
            href="{% url 'pomodoro:dashboard' %}">Index</a>
    </li>
    <li class="nav-item">
        <a
        class="nav-link{% if request.resolver_match.view_name == 'pomodoro:favorite-list' %} active{% endif %}"
        href="{% url 'pomodoro:favorite-list' %}">Favorites</a>
    </li>
    <li class="nav-item">
            <a
            class="nav-link{% if request.resolver_match.view_name == 'pomodoro:history' %} active{% endif %}"
            href="{% if date %}{% url 'pomodoro:history' date|date:"Ymd" %}{% else %}{% url 'pomodoro:history' %}{% endif %}">History</a>
        </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'api:pomodoro-list' format='ics' %}" aria-controls="history-tab">Calendar</a>
    </li>
</ul>
