{% extends "pomodoro/base.html" %}
{% load i18n %}
{% load pomodoro %}
{% load static %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'pomodoro:dashboard' %}">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pomodoro:pomodoro-list' %}">{% trans 'Archive' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{year|date:view.dtfmt}}</li>
    </ol>
</nav>

{% latest_pomodoro %}

<div class="row mx-3">
    <div class="col-10">
        <div class="card">
            <h4 class="card-header">{{year|date:view.dtfmt}}</h4>
            <table class="table">
                <tr>
                    <th>Project</th>
                    <th>Duration</th>
                </tr>
                {% for project, duration in object_list|project_report|dictsortreversed:1 %}
                <tr>
                    <td><a href="{{project.get_absolute_url}}?{% range_qs start=year end=next_year %}">{{project.name}}</a></td>
                    <td>{{duration}}</td>
                </tr>
                {% endfor %}
            </table>

        </div>
    </div>
    <div class="col-2">
        <ul class="list-unstyled">
            {% for month in this_year %}
            <li>
                <a
                   {% if today <= month %}class="text-secondary" {% endif %}"
                   href="{% url 'pomodoro:pomodoro-month' month.year month.month %}">
                    {{month|date:"F"}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
