{% extends "pomodoro/base.html" %}
{% load static %}
{% load pomodoro %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'pomodoro:dashboard' %}">Pomodoros</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pomodoro:pomodoro-year' month.year %}">{{month|date:"Y"}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{month|date:"m"}}</li>
    </ol>
</nav>

{% latest_pomodoro %}

<div class="row mx-3">
    <div class="col-10">
        <div class="card">
            <h4 class="card-header">{{month|date:view.dtfmt}}</h4>
            <table class="table">
                <tr>
                    <th>Project</th>
                    <th>Duration</th>
                </tr>
                {% for project, duration in object_list|project_report|dictsortreversed:1 %}
                <tr>
                    <td><a href="{{project.get_absolute_url}}?{% range_qs start=month end=next_month %}">{{project.name}}</a></td>
                    <td>{{duration}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="col-2">
        {% spaceless %}
        <table class="table table-sm">
            <tr>
                <th colspan="8" class="text-center">
                    <a
                       href="{% url 'pomodoro:pomodoro-year' year=today.year %}">{{this_month|date:'Y'}}</a>
                </th>
            </tr>
            <tr>
                <th colspan="2" class="text-left">
                    <span aria-hidden="true">&laquo;</span>
                    <a
                       {% if previous_month > today %}class="text-secondary"{% endif %}
                        href="{% url 'pomodoro:pomodoro-month' previous_month.year previous_month.month %}">{{previous_month|date:'F'}}</a>
                </th>
                <th colspan="4" class="text-center">
                    <a
                       {% if this_month > today %}class="text-secondary"{% endif %}
                        href="{% url 'pomodoro:pomodoro-month' year=this_month.year month=this_month.month %}">{{this_month|date:'F'}}</a>
                </th>
                <th colspan="2" class="text-right">
                    <a
                       {% if next_month > today %}class="text-secondary"{% endif %}
                        href="{% url 'pomodoro:pomodoro-month' next_month.year next_month.month %}">{{next_month|date:'F'}}</a>
                    <span aria-hidden="true">&raquo;</span>
                </th>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <th>{{calendar.0.0|date:'D'}}</th>
                <th>{{calendar.0.1|date:'D'}}</th>
                <th>{{calendar.0.2|date:'D'}}</th>
                <th>{{calendar.0.3|date:'D'}}</th>
                <th>{{calendar.0.4|date:'D'}}</th>
                <th>{{calendar.0.5|date:'D'}}</th>
                <th>{{calendar.0.6|date:'D'}}</th>
            </tr>
            {% for week in calendar %}
            <tr>
                <td class="table-secondary">
                    <span class=" text-secondary">{{week.0.isocalendar.1}}</a>
                </td>
                {% for d in week %}
                <td>
                    <a
                       {% if d > today %}class="text-secondary"{% endif %}
                        href="{% url 'pomodoro:pomodoro-day' d.year d.month d.day %}">{{d.day}}</a>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% endspaceless %}
    </div>
</div>

{% endblock %}
