{% extends "pomodoro/base.html" %}
{% load static %}
{% load pomodoro %}

{% block content %}

{% include 'pomodoro/timer.html' %}

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if previous_month %}
        <li class="page-item">
            <a class="page-link" aria-label="Previous" href="{% url 'pomodoro:pomodoro-month' previous_month.year previous_month.month %}">
                <span aria-hidden="true">&laquo; {{previous_month|date:view.dtfmt}}</span>
            </a>
        </li>
        {% endif %}
        <li class="page-item">
            <a class="page-link" aria-label="Previous" href="{% url 'pomodoro:pomodoro-month' month.year month.month %}">
                <span aria-hidden="true">{{month|date:view.dtfmt}}</span>
            </a>
        </li>
        {% if next_month %}
        <li class="page-item">
            <a class="page-link" aria-label="Next" href="{% url 'pomodoro:pomodoro-month' next_month.year next_month.month %}">
                <span aria-hidden="true">{{next_month|date:view.dtfmt}} &raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>

<div class="card">
    <h4 class="card-heading">{{month|date:view.dtfmt}}</h4>
    <table class="table">
        <tr>
            <th>Project</th>
            <th>Duration</th>
        </tr>
        {% for project, duration in object_list|project_report|dictsortreversed:1 %}
        <tr>
            <td><a href="{{project.get_absolute_url}}?start={{previous_month|isoformat}}&end={{next_month|isoformat}}">{{project.name}}</a></td>
            <td>{{duration}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
