{% extends "pomodoro/base.html" %}
{% load i18n %}
{% load pomodoro %}
{% load static %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'pomodoro:dashboard' %}">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pomodoro:pomodoro-list' %}">{% trans 'Archive' %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pomodoro:pomodoro-year' day.year %}">{{day|date:"Y"}}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pomodoro:pomodoro-month' day.year day.month %}">{{day|date:"m"}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{day|date:"d"}}</li>
    </ol>
</nav>

{% latest_pomodoro %}

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if previous_day %}
        <li class="page-item">
            <a class="page-link" aria-label="Previous" href="{% url 'pomodoro:pomodoro-day' previous_day.year previous_day.month previous_day.day %}">
                <span aria-hidden="true">&laquo; {{previous_day|date}}</span>
            </a>
        </li>
        {% endif %}
        <li class="page-item">
            <a class="page-link" aria-label="Next" href="{% url 'pomodoro:pomodoro-day' day.year day.month day.day %}">
                <span aria-hidden="true">{{day|date}} &raquo;</span>
            </a>
        </li>
        {% if next_day %}
        <li class="page-item">
            <a class="page-link" aria-label="Next" href="{% url 'pomodoro:pomodoro-day' next_day.year next_day.month next_day.day %}">
                <span aria-hidden="true">{{next_day|date}} &raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>

<div class="card">
    <h4 class="card-header">{{day}}</h4>
    <table class="table table-sm">
        <tr>
            <th>Title</th>
            <th>Project</th>
            <th>Memo</th>
            <th>Start</th>
            <th>End</th>
            <th>Duration</th>
        </tr>
        {% for p in pomodoro_list|dictsort:'start' %}
        <tr style="border-left: 10px solid {{p.project.color}}">
            <td><a href="{{p.get_absolute_url}}">{{p.title}}</a></td>
            <td><a href="{{p.project.get_absolute_url}}">{{p.project.name}}</a></td>
            <td>{{p.memo}}</td>
            <td>{{p.start}}</td>
            <td>{{p.end}}</td>
            <td>{{p.duration}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
