{% extends "pomodoro/base.html" %}
{% load static %}
{% block content %}

{% include 'pomodoro/timer.html' %}

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if date_prev %}
        <li class="page-item">
            <a class="page-link" aria-label="Previous" href="{% url 'pomodoro:pomodoro-list' date_prev|date:"Ymd" %}">
                <span aria-hidden="true">&laquo; {{date_prev|date}}</span>
            </a>
        </li>
        {% endif %}

        {% if date_next %}
        <li class="page-item">
            <a class="page-link" aria-label="Next" href="{% url 'pomodoro:pomodoro-list' date_next|date:"Ymd" %}">
                <span aria-hidden="true">{{date_next|date}} &raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
    
<div class="card">
    <h4 class="card-header">{{date}}</h4>
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Project</th>
            <th>Category</th>
            <th>Start</th>
            <th>End</th>
            <th>Duration</th>
        </tr>
{% for p in pomodoro_list %}
        <tr>
            <td><a href="{{p.get_absolute_url}}">{{p.title}}</a></td>
            <td><a href="{{p.project.get_absolute_url}}">{{p.project.name}}</a></td>
            <td>{{p.category}}</td>
            <td>{{p.start}}</td>
            <td>{{p.end}}</td>
            <td>{{p.duration}}</td>
        </tr>
{% endfor %}
    </table>
</div>
{% endblock %}
