{% extends "pomodoro/base.html" %}
{% load i18n %}
{% load pomodoro %}

{% block content %}

{% breadcrumb object %}

{% latest_pomodoro %}

<div class="card">
    <h4 class="card-header">{{object.name}}</h4>
    <table class="table table-sm">
        <tr style="border-left: 10px solid #{{project.color}}">
            <th>Title</th>
            <td>{{object.name}}</td>
        </tr>
        <tr style="border-left: 10px solid #{{project.color}}">
            <th>URL</th>
            <td>{{obj.url|urlize}}</td>
        </tr>
        <tr style="border-left: 10px solid #{{project.color}}">
            <th>Memo</th>
            <td>{{object.memo}}</td>
        </tr>
    </table>
    <div class="card-footer">
        <a class="btn btn-sm btn-warning" href="{% url 'pomodoro:project-update' project.id %}">{% trans 'Change' %}</a>
    </div>
</div>
<br>

<div class="card">
    <h4 class="card-header">Favorites</h4>

    <table class="table table-sm">
        <tr>
            <th>Favorite</th>
            <th>Duration</th>
            <th>Count</th>
            <th>&nbsp;</th>
        </tr>
        {% for f in object.favorite_set.all %}
        <tr style="border-left: 10px solid #{{project.color}}">
            <td>
                <form action="{% url 'pomodoro:favorite-detail' f.pk %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary btn-sm btn-block">
                        {{f.title}}
                    </button>
                </form>
            </td>
            <td>{{f.timedelta}}</td>
            <td>{{f.count}}</td>
            <td>
                <a class="btn btn-sm btn-warning" href="{% url 'pomodoro:favorite-detail' f.id %}">{% trans 'Change' %}</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No Favorites</td>
        </tr>
        {% endfor %}
    </table>
    <div class="card-footer">
        <a class="btn btn-sm btn-primary" href="{% url 'pomodoro:project-favorite-create' project.id %}">{% trans 'Add' %}</a>
    </div>
</div>
<br>

<div class="card">
    <h4 class="card-header">Recent</h4>
    <table class="table table-sm">
        <tr>
            <th>Pomodoro</th>
            <th>Start</th>
            <th>End</th>
            <th>Duration</th>
            <th>&nbsp;</th>
        </tr>
        {% for p in page_obj %}
        <tr style="border-left: 10px solid #{{project.color}}">
            <td><a href="{{p.get_absolute_url}}">{{p.title}}</a></td>
            <td>{{p.start}}</td>
            <td>{{p.end}}</td>
            <td>{{p.duration}}</td>
            <td>
                <a class="row badge badge-warning" href="{% url 'pomodoro:pomodoro-detail' p.id %}">{% trans 'Change' %}</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No Pomodoros</td>
        </tr>
        {% endfor %}
    </table>
</div>
<br />

{% include 'pomodoro/pagination.html' %}

{% endblock %}
