{% extends "pomodoro/base.html" %}
{% load i18n %}
{% load pomodoro %}

{% block content %}

{% breadcrumb 'Projects' %}

{% latest_pomodoro %}

<h1>Projects</h1>
<div class="card">
    <table class="table table-sm">
        <tr>
            <th colspan="2">Name</th>
            <th>Duration</th>
            <th>Link</th>
        </tr>
        {% for project in object_list %}
        <tr style="border-left: 10px solid #{{project.color}}">
            <td><a href="{{project.get_absolute_url}}">{{project.name}}</a></td>
            <td><a class="badge badge-warning" href="{% url 'pomodoro:project-update' project.id %}">{% trans 'Change' %}</a></td>
            <td>{{project.timedelta}}</td>
            <td>{{project.url|urlize}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
