{% extends "base.html" %}
{% load pomodoro %}
{% block content %}

{% breadcrumb object %}

<div>
    <dl class="row" style="border-left: 10px solid #{{project.color}}">
        <dt class="col-sm-2">Title</dt>
        <dd class="col-sm-9">{{object.name}}</dd>
        <dt class="col-sm-2">URL</dt>
        <dd class="col-sm-9">{{obj.url|urlize}}</dd>
        <dt class="col-sm-2">Memo</dt>
        <dd class="col-sm-9">{{object.memo}}</dd>
    </dl>
    <a class="row badge badge-warning" href="{% url 'pomodoro:project-update' project.id %}">Edit</a>
</div>

<table class="table table-sm">
    <tr>
        <th>Favorite</th>
        <th>Duration</th>
        <th>Count</th>
    </tr>
    {% for f in object.favorite_set.all %}
    <tr style="border-left: 10px solid #{{project.color}}">
        <td>
            <form action="{% url 'pomodoro:favorite-detail' f.pk %}" method="post">
                {% csrf_token %}
                <button class="btn btn-primary btn-block">
                    {{f.title}}
                </button>
            </form>
        </td>
        <td>{{f.timedelta}}</td>
        <td>{{f.count}}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">No Favorites</td>
    </tr>
    {% endfor %}
</table>

<table class="table table-sm">
    <tr>
        <th>Pomodoro</th>
        <th>Start</th>
        <th>End</th>
        <th>Duration</th>
    </tr>
    {% for p in page_obj %}
    <tr style="border-left: 10px solid #{{project.color}}">
        <td><a href="{{p.get_absolute_url}}">{{p.title}}</a></td>
        <td>{{p.start}}</td>
        <td>{{p.end}}</td>
        <td>{{p.duration}}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">No Pomodoros</td>
    </tr>
    {% endfor %}
</table>

{% include 'pomodoro/pagination.html' %}

{% endblock %}
