{% extends "base.html" %}
{% load pomodoro %}
{% block content %}

{% breadcrumb 'Projects' %}

<div class="card">
    <h4 class="card-heading">Projects</h4>
    <table class="table table-sm">
        <tr>
            <th colspan="2">Name</th>
            <th>Duration</th>
            <th>Link</th>
        </tr>
        {% for project in object_list %}
        <tr style="border-left: 10px solid #{{project.color}}">
            <td><a href="{{project.get_absolute_url}}">{{project.name}}</a></td>
            <td><a class="badge badge-warning" href="{% url 'pomodoro:project-update' project.id %}">Edit</a></td>
            <td>{{project.timedelta}}</td>
            <td>{{project.url|urlize}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
