{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="card">
    <h4 class="card-heading">Projects</h4>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Link</th>
        </tr>
        {% for project in object_list %}
        <tr style="border: solid #{{project.color}}">
            <td><a href="{{project.get_absolute_url}}">{{project.name}}</a></td>
            <td>{{project.url|urlize}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
