{% extends "pomodoro/base.html" %}
{% load static %}
{% load pomodoro %}

{% block content %}

{% breadcrumb 'Shares' %}

{% include 'pomodoro/timer.html' %}

<h1>Shares</h1>

<div class="card">
    <table class="table table-sm">
        {% for share in object_list %}
        <tr>
            <td>
                <a href="{% url 'pomodoro:share-calendar' share.pk %}">{{share.pk}}</a>
            </td>
            <td>
                {{share.last_accessed}}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
