{% if latest_pomodoro %}
<div class="text-center" data-countdown="{{ latest_pomodoro.end.isoformat }}">
    <div class="card-header">{{latest_pomodoro.title}} <small>{{latest_pomodoro.project}}</small></div>
    <div class="card-body countdown-body">
        <div class="days">
            <span></span>
            <div>Days</div>
        </div>
        <div class="hours">
            <span></span>
            <div>Hours</div>
        </div>
        <div class="minutes">
            <span></span>
            <div>Minutes</div>
        </div>
        <div class="seconds">
            <span></span>
            <div>Seconds</div>
        </div>
    </div>
</div>
<br />
{% endif %}
