{% if latest_pomodoro %}
<div class="text-center mb-5 card" data-countdown="{{ latest_pomodoro.end.isoformat }}">
    <div class="card-header">
        <a href="{{latest_pomodoro.get_absolute_url}}">{{latest_pomodoro.title}}</a>
        <small>(<a href="{{latest_pomodoro.project.get_absolute_url}}">{{latest_pomodoro.project.name}}</a>)</small>
    </div>
    <div class="card-body countdown-body">
        <div class="days">
            <span></span>
            <div>Days</div>
        </div>
        <div class="hours">
            <span></span>
            <div>Hours</div>
        </div>
        <div class="minutes">
            <span></span>
            <div>Minutes</div>
        </div>
        <div class="seconds">
            <span></span>
            <div>Seconds</div>
        </div>
    </div>
    <div class="card-footer"><a href="{% url 'pomodoro:pomodoro-today' %}">Today</a></div>
</div>
{% endif %}
