<nav class="navbar navbar-expand-md navbar-dark bg-dark" role="navigation">
    <a class="navbar-brand" href="/">Pomodoro</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'pomodoro:dashboard' %}">Pomodoro</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'api:pomodoro-list' format='ics' %}">Calendar</a>

        {% if user.is_superuser %}
        <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
        {% endif %}
        {% if user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}?next={{request.path}}">Login</a></li>
        {% endif %}
    </ul>
    <ul class="navbar-nav mr-auto navbar-right">
        <li class="nav-item">
            {% block github %}
            <a class="nav-link" href="https://github.com/kfdm/django-pomodoro/"><img src="https://img.shields.io/github/issues/kfdm/django-pomodoro.svg" /></a>
            {% endblock %}
        </li>
    </ul>
    </div><!-- /.navbar-collapse -->
</nav><!-- /.container-fluid -->
