.countdown-body {
  font-family: sans-serif;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 1em;
}

.countdown-body > div {
  padding: 10px;
  border-radius: 3px;
  display: inline-block;
  background-color: #eee;
}

.countdown-body  div > span {
  padding: 15px;
  border-radius: 3px;
  display: inline-block;
}
.smalltext {
  padding-top: 5px;
  font-size: 0.75em;
}
